@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Geist";
    src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2") format("woff2"),
        url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Bold.woff2") format("woff2"),
        url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}



* {
    font-family: "Geist", sans-serif; 
}
// WELCOME PAGE
@import "./welcome_page.scss";

// LOGO TRAVEL-APP
@import "./logo_travel-app.scss";

// NAV-BAR
@import "./nav_bar.scss";

// SEARCH-BAR
@import "./search_bar.scss";

// CAROUSEL
.owl-carousel .item img {
    padding: 20px;
    display: block;
    width: 80%;
    height: 35rem; 
} /*  DA MODIFICARE CON LE MEDIA QUERy - ALTEZZA ( 250px)*/
div.owl-item> div{
    display: flex;
    justify-content: center;
}
.owl-dots {
    display: none;
    }
