@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Geist";
    src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2")
            format("woff2"),
        url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.ttf")
            format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Bold.woff2")
            format("woff2"),
        url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Bold.ttf")
            format("ttf");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "Geist", sans-serif;
}
// WELCOME PAGE
@import "./welcome_page.scss";

// LOGO TRAVEL-APP
@import "./logo_travel-app.scss";

// NAV-BAR
@import "./nav_bar.scss";

// SEARCH-BAR
@import "./search_bar.scss";

// CAROUSEL
.owl-carousel .item img {
    padding: 20px;
    display: block;
    width: 80%;
    height: 35rem;
} /*  DA MODIFICARE CON LE MEDIA QUERy - ALTEZZA ( 250px)*/
div.owl-item > div {
    display: flex;
    justify-content: center;
}
.owl-dots {
    display: none;
}

// EFFETTO TYPING INFINITO

.typing-container {
    display: inline-block;
    font-size: 24px;
    color: #333;
    border-right: 2px solid #333;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    0% { width: 0; }
    50% { width: 14%; }
    75% { width: 50%; border-right: none; } /* Pause with border removed */
    100% { width: 100%; border-right: none; } /* Maintain the final state */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

@keyframes dropIn-image-city {
    from {
        transform: translateY(-100vh); /* Inizia sopra lo schermo */
        opacity: 0; /* Inizia invisibile */
    }
    to {
        transform: translateY(0); /* Termina nella posizione originale */
        opacity: 1; /* Termina visibile */
    }
}

/* Applica l'animazione alle immagini */
.drop-in-image {
    opacity: 0; /* Inizia invisibile */
    animation: dropIn-image-city 1s ease-out forwards; /* Durata di 1 secondo */
}