.dropdown-menu[data-bs-popper] {
    top: 0%;
    left: -12rem;
    margin-top: var(--bs-dropdown-spacer);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    display: block;
    visibility: hidden;
}

.dropdown-menu {
    top: 0%;
    left: -12rem;
    margin-top: var(--bs-dropdown-spacer);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    display: block;
    visibility: hidden;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}

.dropdown-toggle::after {
    content: none;
}

.navbar {
    top: 50%;
    padding-top: 0;
    z-index: 99999999;
}

.nav-item {
    position: relative;
}

.icon {
    font-size: 40px;
    cursor: pointer;
}

.icon-text {
    position: absolute;
    right: 120%;
    top: 50%;
    transform: translateY(-50%) scaleY(0);
    transform-origin: top;
    margin-left: 20px;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
}

.nav-item:hover .icon-text {
    opacity: 1;
    transform: translateY(-50%) scaleY(1);
}

.multi-colored-border {
    position: relative;
    padding: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.multi-colored-border::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -40px;
    right: -90px;
    bottom: -4px;
    background: linear-gradient(
        to right,
        #ffa500 0%,
        #ffa500 33.1%,
        #ff4500 33%,
        #ff4500 61.8%,
        #32cd32 6%,
        #32cd32 100%
    );
    border-radius: 10px;
    z-index: -1;
}
@media (max-width: 767.98px) {
    .multi-colored-border::before {
        top: -4px; 
        left: -48px; 
        right: -117.6px; 
        bottom: -4px; 
    }
}

/* Media query per schermi di dimensioni medie e più grandi (aumento del 20%) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .multi-colored-border::before {
        top: -4px;
        left: -5px;
        right: -40.6px;
        bottom: -5px;
    }
}

@media (max-width: 767.98px) {
    #nav_bar {
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        border-radius: 0;
        padding: 0;
    }

    .navbar-toggler {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1050;
        border: none;
        outline: none;
    }

    .navbar-collapse {
        position: fixed;
        top: 60px;
        right: 10px;
        width: auto;
        max-height: 0;
        background-color: white;
        z-index: 1040;
        overflow-y: auto;
        transition: max-height 0.3s ease-out;
        border-radius: 8px;
    }

    .navbar-collapse.show {
        max-height: 200px;
    }

    .navbar-nav .nav-item {
        padding: 5px 10px;
        text-align: center;
    }

    .nav-link i {
        font-size: 1rem;
    }

    .icon-text {
        font-size: 0.8rem;
        padding: 5px 15px;
        border-radius: 8px;
    }

    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu a {
        padding: 10px 15px;
        text-align: center;
        color: black;
    }
}
