.search_bar {
    left: 25%;
    opacity: 1;
    z-index: 4;
}
.text_title {
    font-size: 3rem;
}
.result-item {
    padding: 5px;
}
.form-control:focus {
    border-color: unset;
    box-shadow: none;
}
.custom_offset_search_bar {
    margin-left: 12.7%;
}

.input-group-text {
    border: none;
}
