.typing-container {
    display: inline-block;
    font-size: 24px;
    color: #333;
    border-right: 2px solid #333;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}
.typing-container2 {
    display: inline-block;
    font-size: 24px;
    color: #333;
    border-right: 2px solid #333;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 6s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}
/* Esempio di effetto di digitazione */
.typing-container2 h4 {
    font-size: 1.5rem; /* Font size di default */
    /* Altri stili dell'effetto di digitazione */
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
    .typing-container2 h4 {
        font-size: 11px; /* Font size più piccolo per schermi piccoli */
        text-align: center; /* Allinea il testo al centro su schermi piccoli */
        line-break: normal;
    }

    .typing-container2 {
        padding-left: 1rem; /* Riduci il padding a sinistra su schermi piccoli */
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .typing-container2 h4 {
        font-size: 1.3rem; /* Font size medio per schermi di dimensioni medie */
        text-align: center; /* Allinea il testo al centro per schermi medi */
    }
}
@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 14%;
    }

    75% {
        width: 50%;
        border-right: none;
    }

    80%{
        width: 100%;
    }
    /* Pause with border removed */
    100% {
        width: 100%;
        border-right: none;
    }

    /* Maintain the final state */
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #333;
    }
}
